/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
	color: #808080;
	font-family: 'Times New Roman';
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	color: #C00000;
}

h3
{
	font-weight: bold;
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	margin-top: 0pt;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 6pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

span
{
	color: #c00000;
	font-family: 'Times New Roman';
	font-weight: bold;
}

p.RedCenter
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #C00000;
	font-family: 'Times New Roman';
	font-size: 14pt;
	font-weight: 200;
	text-align: center;
}

p.TrainingLink
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

