/*<meta />*/

/*<meta sourceDocument="C:\Users\SG0222835\OneDrive - Sabre\Documents\TRAMS case\CBO\4 09 00 GR CBO FIX release notes.docx" />*/

p
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ol
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ul
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

li
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

td
{
	font-family: 'Times New Roman';
	vertical-align: top;
}

span.Strong
{
	font-weight: bold;
}

p.ListParagraph
{
	font-family: 'Times New Roman';
}

li.ListParagraph
{
	font-family: 'Times New Roman';
}

p.ListParagraph_1
{
	margin-left: 36pt;
	font-family: 'Times New Roman';
}

span.Strong_1
{
	font-weight: bold;
	font-family: Arial;
	color: #808080;
	font-size: 24pt;
}

p.p_1
{
	font-family: Arial;
	color: #808080;
	font-size: 24pt;
}

p.p_2
{
	font-family: Arial;
	font-weight: bold;
}

span.span_1
{
	font-family: Arial;
	font-weight: bold;
	color: #C00000;
	font-size: 14pt;
}

p.p_3
{
	font-family: Arial;
	font-weight: bold;
	color: #C00000;
	font-size: 14pt;
}

span.Strong_2
{
	font-weight: bold;
	font-family: Arial;
}

p.p_4
{
	font-family: Arial;
}

span.span_2
{
	font-family: Arial;
}

span.span_3
{
	font-family: Arial;
	font-style: italic;
}

li.ListParagraph_1
{
	font-family: Arial;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: square;
	margin-left: 36pt;
}

p.ListParagraph_1_1
{
	margin-left: 36pt;
	font-family: Arial;
}

p.p_5
{
	font-family: Arial;
	font-weight: bold;
	color: #00B050;
}

span.span_4
{
	font-family: Arial;
	color: #FF0000;
}

p.ListParagraph_2
{
	font-family: Arial;
	color: #FF0000;
}

li.ListParagraph_2
{
	font-family: Arial;
	color: #FF0000;
}

ul.ul_2
{
	padding-left: 0px;
	list-style-type: circle;
	margin-left: 36pt;
}

