/*<meta />*/

/*<meta sourceDocument="C:\Users\SG0222835\OneDrive - Sabre\Documents\Trams Case\04843315\4 09 00 Post GR Train 1 TBO FIX release notes.docx" />*/

p
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ol
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ul
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

li
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

td
{
	font-family: 'Times New Roman';
	vertical-align: top;
}

span.Strong
{
	font-weight: bold;
}

p.ListParagraph
{
	font-family: 'Times New Roman';
}

li.ListParagraph
{
	font-family: 'Times New Roman';
}

p.ListParagraph_1
{
	margin-left: 36pt;
	font-family: 'Times New Roman';
}

span.Strong_1
{
	font-weight: bold;
	font-family: 'Arial Black';
	color: #808080;
	font-size: 24pt;
}

p.p_1
{
	font-family: 'Arial Black';
	color: #808080;
	font-size: 24pt;
}

span.span_1
{
	font-family: 'Arial Black';
	font-size: 14pt;
}

span.span_2
{
	font-family: 'Arial Black';
	font-weight: bold;
	font-size: 14pt;
}

p.p_2
{
	font-family: 'Arial Black';
	font-weight: bold;
	font-size: 14pt;
}

p.p_3
{
	font-family: Arial;
	font-weight: bold;
}

p.p_4
{
	margin-top: 6pt;
	font-family: Arial;
	font-weight: bold;
}

p.ListParagraph_2
{
	font-family: Arial;
}

li.ListParagraph_1
{
	font-family: Arial;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: square;
	margin-left: 36pt;
}

span.span_3
{
	font-family: Arial;
}

p.p_5
{
	font-family: 'Arial Black';
	font-size: 14pt;
}

p.p_6
{
	margin-left: 18pt;
}

span.Strong_2
{
	font-weight: bold;
	font-family: Arial;
}

p.ListParagraph_3
{
	font-family: Arial;
	font-weight: normal;
}

li.ListParagraph_2
{
	font-family: Arial;
	font-weight: normal;
}

p.ListParagraph_1_1
{
	margin-left: 36pt;
	font-family: 'Times New Roman';
	font-weight: bold;
}

p.p_7
{
	font-family: Arial;
	font-weight: bold;
	color: #000000;
}

p.ListParagraph_4
{
	margin-bottom: 12pt;
	font-family: Arial;
}

li.ListParagraph_3
{
	margin-bottom: 12pt;
	font-family: Arial;
}

p.ListParagraph_1_2
{
	margin-left: 36pt;
	font-family: 'Times New Roman';
	margin-bottom: 12pt;
}

p.ListParagraph_5
{
	margin-top: 12pt;
	font-family: Arial;
}

li.ListParagraph_4
{
	margin-top: 12pt;
	font-family: Arial;
}

p.ListParagraph_6
{
	font-family: 'Times New Roman';
	margin-bottom: 12pt;
}

li.ListParagraph_5
{
	font-family: 'Times New Roman';
	margin-bottom: 12pt;
}

