/*<meta />*/

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

p.productnewfeature
{
	text-align: right;
	margin-left: 1px;
	color: #333333;
	font-family: Roboto;
	font-weight: bold;
	font-style: normal;
	margin-bottom: -0.9em;
	font-size: 11;
}

p.releasedate
{
	text-align: right;
	font-family: Batang;
	color: #000000;
	margin-top: 1.12em;
	margin-bottom: 0.12em;
}

p.header_concept
{
	text-align: right;
	color: #000000;
	font-size: 10pt;
	margin-bottom: -0.85em;
	font-family: Roboto;
}

h1
{
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	color: #808080;
	margin-bottom: -0.33em;
	font-family: 'Roboto Black';
}

h2
{
	font-size: 18pt;
	font-weight: bold;
	color: #C00000;
	font-style: inherit;
	font-family: Roboto;
}

h3
{
	font: ;
	color: #243F60;
	font-size: 14pt;
	font-weight: bold;
	font-family: Roboto;
}

p
{
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
}

p.Footerbottomline
{
	text-align: right;
	font-family: Arial;
	color: #7d858a;
	font-size: 10pt;
}

p.footer
{
	font-family: Roboto;
	color: #696969;
}

li.ListParagraph
{
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
}

h1.Contents	/*hide TOC*/
{
	mc-heading-level: 0;
}

hr
{
	
}

p.productnewfeaturepdf
{
	text-align: right;
	margin-left: 1px;
	color: #333333;
	font-family: Roboto;
	font-weight: bold;
	font-style: normal;
	margin-bottom: -0.9em;
	font-size: 9pt;
	margin-top: 0.12em;
	letter-spacing: 1px;
}

h4
{
	font-family: Roboto;
}

li
{
	font-family: Arial;
	font-size: 10pt;
}

table
{
	border: solid 2px #000000;
	padding: 5px;
}

td
{
	border: solid 1px #000000;
}

th
{
	border: solid 2px #000000;
}

span.span_3
{
	font-style: italic;
}

div.commframe
{
	color: #E50000;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	padding: 10px;
	background: #9DD7D8;
}

