/*<meta />*/

/*<meta sourceDocument="C:\Users\SG0222835\OneDrive - Sabre\Documents\TRAMS case\05124016\4 09 00 M1 CBO FIX release notes.docx" />*/

p
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ol
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ul
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

li
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

td
{
	font-family: 'Times New Roman';
	vertical-align: top;
}

h1.Heading1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	mc-heading-level: 1;
	font-family: 'Roboto Black';
	font-weight: bold;
	color: #808080;
	font-size: 24pt;
}

span.Strong
{
	font-weight: bold;
}

h2.Heading2
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	mc-heading-level: 2;
	font-family: 'Roboto Black';
	font-weight: bold;
	color: #C00000;
	font-size: 12pt;
}

h3.Heading3
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	mc-heading-level: 3;
	font-family: 'Roboto Black';
	color: #243F60;
	font-weight: normal;
}

p.ListParagraph
{
	font-family: 'Times New Roman';
}

li.ListParagraph
{
	font-family: 'Times New Roman';
}

p.ListParagraph_1
{
	margin-left: 36pt;
	font-family: 'Times New Roman';
}

p.p_1
{
	font-family: Arial;
	font-weight: bold;
}

p.p_2
{
	font-family: Arial;
	font-weight: bold;
	color: #C00000;
	font-size: 14pt;
}

span.Strong_1
{
	font-weight: normal;
}

span.span_1
{
	font-family: Arial;
}

span.span_2
{
	font-family: Arial;
	font-style: italic;
}

p.ListParagraph_2
{
	font-family: Arial;
}

li.ListParagraph_1
{
	font-family: Arial;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

span.Strong_2
{
	font-weight: bold;
	font-family: Arial;
}

h3.Heading3_1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	mc-heading-level: 3;
	color: #243F60;
	font-weight: normal;
	font-family: Arial;
}

p.ListParagraph_1_1
{
	margin-left: 36pt;
	font-family: Arial;
}

h3.Heading3_2
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	mc-heading-level: 3;
	font-family: 'Roboto Black';
	font-weight: normal;
	color: #00B050;
}

ul.ul_2
{
	padding-left: 0px;
	list-style-type: circle;
	margin-left: 36pt;
}

span.span_3
{
	font-family: Arial;
	color: #FF0000;
}

p.ListParagraph_3
{
	font-family: Arial;
	color: #FF0000;
}

li.ListParagraph_2
{
	font-family: Arial;
	color: #FF0000;
}

