/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
	padding: 20pt;
}

a.Popup
{
	
}

p.productnewfeature
{
	text-align: right;
	margin-left: 1px;
	color: #333333;
	font-family: Roboto;
	font-weight: bold;
	font-style: normal;
	margin-bottom: -0.9em;
	font-size: 11;
}

p.releasedate
{
	text-align: right;
	font-family: Batang;
	color: #000000;
	margin-top: 1.12em;
	margin-bottom: 0.12em;
}

p.header_concept
{
	text-align: right;
	color: #000000;
	font-size: 10pt;
	margin-bottom: -0.85em;
	font-family: Roboto;
}

h1
{
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	margin-bottom: -0.33em;
	font-family: 'Roboto Black';
	margin: 0;
	color: #0c436a;
}

h2
{
	font-size: 18pt;
	font-weight: bold;
	font-family: 'Roboto Black';
	margin-bottom: 0;
	margin: .30em;
	margin-left: 0;
	margin-right: 0;
	color: #aa192c;
}

h3
{
	font: ;
	font-weight: bold;
	font-family: Roboto;
	font-size: 12pt;
	margin-top: 0;
	margin: 0;
	margin-bottom: 0;
	color: #0699be;
}

p
{
	color: #101820;
	font-family: Roboto;
	font-size: 12pt;
}

p.Footerbottomline
{
	text-align: right;
	font-family: Arial;
	color: #7d858a;
	font-size: 10pt;
}

p.footer
{
	font-family: Roboto;
	color: #696969;
}

h1.Contents	/*hide TOC*/
{
	mc-heading-level: 0;
}

hr
{
	
}

p.productnewfeaturepdf
{
	text-align: right;
	margin-left: 1px;
	color: #333333;
	font-family: Roboto;
	font-weight: bold;
	font-style: normal;
	margin-bottom: -0.9em;
	font-size: 9pt;
	margin-top: 0.12em;
	letter-spacing: 1px;
}

ul.Bulletlvl2 > li > ul
{
	list-style-type: disc;
	list-style-image: none;
}

ul.Bulletlvl2 > li > ul > li::marker
{
	font-family: 'Times New Roman';
	content: '•';
}

li.ListParagraph_5
{
	margin-top: 6pt;
	margin-bottom: 14pt;
	margin-left: 36pt;
	font-family: Arial;
	font-size: 12;
}

li.li_1
{
	margin-top: 6pt;
	margin-bottom: 14pt;
	font-family: Arial;
	font-size: 10pt;
}

li.ListParagraph	/*list paragraph*/
{
	margin-bottom: 8pt;
	font-size: 11pt;
	margin-left: 36pt;
	font-family: Arial;
}

li.ListParagraph_1
{
	margin-left: 36pt;
	font-family: Arial;
	margin-bottom: 0pt;
	font-size: 12pt;
}

li.ListParagraph_2
{
	margin-bottom: 8pt;
	margin-left: 36pt;
	font-family: Arial;
	margin-top: 12pt;
	font-size: 12pt;
}

li.ListParagraph_3
{
	margin-left: 36pt;
	font-family: Arial;
	margin-bottom: 0pt;
	font-size: 12;
}

li.ListParagraph_4
{
	margin-bottom: 8pt;
	margin-left: 36pt;
	font-family: Arial;
	font-size: 12;
}

li.ListParagraph_5_1
{
	margin-top: 6pt;
	margin-bottom: 14pt;
	font-family: Arial;
	margin-left: 18pt;
	font-size: 12;
}

li
{
	font-family: Arial;
	color: #000000;
	padding-top: 5px;
	font-size: 11pt;
}

ul.ul	/*list*/
{
	margin-left: 80px;
}

MadCap|dropDownHead
{
	color: #243F60;
	font-family: Roboto;
	font-weight: bold;
	font-size: 12pt;
	text-decoration: blink;
}

h4
{
	font-family: Roboto;
	color: #333333;
	font-size: 12pt;
}

img.imgheader
{
	padding: 0px;
}

h5
{
	font-family: Roboto;
	font-size: 10pt;
}

body
{
	
}

div.commframe
{
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	padding: 10px;
	background: #9DD7D8;
	color: #9DD7D8;
}

span.span_8
{
	font-style: italic;
}

/*<meta sourceDocument="C:\Users\SG0222835\Downloads\4 10 00 MU1 CBO FIX release notes.docx" />*/

p.p_1
{
	margin: 0px;
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ol
{
	margin: 0px;
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ul.ul_1
{
	list-style-type: disc;
	list-style-image: none;
	margin: 0px;
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

td
{
	font-family: 'Times New Roman';
	vertical-align: top;
}

p.ListParagraph
{
	margin-left: 36pt;
	font-family: 'Times New Roman';
}

li.ListParagraph_6
{
	margin-bottom: 8pt;
	font-size: 11pt;
	margin-left: 36pt;
	font-family: 'Times New Roman';
}

p.NormalWeb
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

li.NormalWeb
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

p.ql-indent-1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

span.Emphasis
{
	font-style: italic;
}

li.ql-indent-1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

span.Heading3Char
{
	color: #243F60;
	font-size: 12pt;
}

ul.bulletline
{
	list-style-type: inherit;
}

ul.bulletline > li > ul > li > ul
{
	list-style-image: none;
}

ul.bulletline > li > ul > li > ul > li::marker
{
	font-family: ;
	content: '–';
}

ul.l1
{
	list-style-type: disc;
	list-style-image: none;
}

ul.l1 > li::marker
{
	font-family: ;
	content: '–';
}

ul.l1 > li > ul > li > ul > li > ul
{
	list-style-image: none;
}

ul.l1 > li > ul > li > ul > li > ul > li::marker
{
	font-family: ;
	content: '–';
}

dt
{
	font-family: Arial;
	font-size: 10pt;
}

