/*<meta />*/

/*<meta sourceDocument="C:\Users\SG0222835\OneDrive - Sabre\Documents\Trams Case\04865890\4 09 00 Beta CBO FIX release notes.docx" />*/

p
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ol
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ul
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

li
{
	font-family: 'Times New Roman';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

td
{
	font-family: 'Times New Roman';
	vertical-align: top;
}

h1.Heading1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	mc-heading-level: 1;
	font-family: Cambria;
	color: #365F91;
	font-size: 16pt;
	font-weight: normal;
}

span.Strong
{
	font-weight: bold;
}

h2.Heading2
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	mc-heading-level: 2;
	font-family: Cambria;
	color: #365F91;
	font-size: 13pt;
	font-weight: normal;
}

h3.Heading3
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	mc-heading-level: 3;
	font-family: Cambria;
	color: #243F60;
	font-size: 12pt;
	font-weight: normal;
}

p.ListParagraph
{
	font-family: 'Times New Roman';
}

li.ListParagraph
{
	font-family: 'Times New Roman';
}

p.ListParagraph_1
{
	margin-left: 36pt;
	font-family: 'Times New Roman';
}

span.Strong_1
{
	font-weight: bold;
	font-family: 'Arial Black';
	color: #808080;
	font-size: 24pt;
}

h1.Heading1_1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	mc-heading-level: 1;
	font-weight: normal;
	font-family: 'Arial Black';
	color: #808080;
	font-size: 24pt;
}

p.p_1
{
	font-family: Arial;
	font-weight: bold;
}

span.Strong_2
{
	font-family: 'Arial Black';
	font-weight: normal;
	font-size: 14pt;
}

span.Strong_3
{
	font-weight: bold;
	font-family: 'Arial Black';
	font-size: 14pt;
}

h2.Heading2_1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	mc-heading-level: 2;
	color: #365F91;
	font-weight: normal;
	font-family: 'Arial Black';
	font-size: 14pt;
}

p.p_2
{
	font-family: Arial;
}

span.Strong_4
{
	font-weight: bold;
	font-family: Arial;
}

h3.Heading3_1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	mc-heading-level: 3;
	color: #243F60;
	font-size: 12pt;
	font-weight: normal;
	font-family: Arial;
}

li.ListParagraph_1
{
	font-family: Arial;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: square;
	margin-left: 36pt;
}

p.ListParagraph_1_1
{
	margin-left: 36pt;
	font-family: Arial;
}

h3.Heading3_2
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	mc-heading-level: 3;
	font-family: Cambria;
	font-size: 12pt;
	font-weight: normal;
	color: #00B050;
}

span.span_1
{
	font-family: Arial;
}

